name: Update

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Optional version input (e.g., 1-0-0 or leave empty for latest)"
        required: false
  repository_dispatch:
    types:
      - update_event

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    services:
      byparr:
        image: ghcr.io/flaresolverr/flaresolverr:latest
        ports:
          - 8191:8191
        options: --shm-size=2gb

    steps:
      - uses: actions/checkout@v4

      - name: Set vars
        id: var
        run: |
          packageId="com.kiloo.subwaysurf"
          gamename="subway-surfers"
          gameorg="sybo-games"
          gamemanifest="subway"

          echo "packageId=$packageId" >> "$GITHUB_OUTPUT"
          echo "gamename=$gamename" >> "$GITHUB_OUTPUT"
          echo "gameorg=$gameorg" >> "$GITHUB_OUTPUT"
          echo "gamemanifest=$gamemanifest" >> "$GITHUB_OUTPUT"

          if [ -z "${{ github.event.inputs.version }}" ]; then
            version=$(curl -s "https://gplayapi.herrerde.xyz/api/apps/$packageId" | jq -r '.version' | tr '.' '-')
          else
            version=$(echo "${{ github.event.inputs.version }}" | tr '.' '-')
          fi

          echo "version=$version" >> "$GITHUB_OUTPUT"

      - name: Create Folder
        run: mkdir -p temp/upload temp/output

      - name: Cache dependencies
        uses: actions/setup-python@v6.2.0
        with:
          python-version: "3.x"
          cache: pip

      - name: Install Playwright
        run: |
          sudo apt update
          sudo apt install xvfb 
          sudo apt install -y \
            libasound2t64 \
            libxfixes3 libx11-6 libx11-xcb1 libxcb1 \
            libxcomposite1 libxdamage1 libxrandr2 libgbm1 \
            libatk1.0-0 libatk-bridge2.0-0 \
            libcups2 libdrm2 libxkbcommon0 libnss3 \
            libpango-1.0-0 libcairo2 libxshmfence1
          pip install playwright
          playwright install chromium --with-deps

      - run: pip install -r requirements.txt

      - name: Get latest gamefile
        run: xvfb-run python script/down-apk_browser.py --org ${{ steps.var.outputs.gameorg }} --app ${{ steps.var.outputs.gamename }} -v ${{steps.var.outputs.version}}

      #- name: Get latest gamefile
      #  run: python script/down-apk.py --org ${{ steps.var.outputs.gameorg }} --app ${{ steps.var.outputs.gamename }} -v ${{steps.var.outputs.version}}

      - name: Find gamefile
        id: gamefile
        run: |
          for ext in apk apkm; do
            FILE="${{ steps.var.outputs.gamename }}-${{ steps.var.outputs.version }}.$ext"
            [ -f "$FILE" ] && echo "PATH=$FILE" >> "$GITHUB_OUTPUT" && exit 0
          done
          echo "No APK/APKM found"
          exit 1

      - name: Get gamedata
        run: python misc/get_gamedata.py --file ${{ steps.gamefile.outputs.PATH }} -v ${{steps.var.outputs.version}} --output temp/gamedata

      - name: Scrape Wiki Data
        run: |
          python script/fetch_links_browser.py
          python script/fetch_profile_browser.py
      #   python script/fetch_links.py
      #   python script/fetch_profile.py
      #   python script/fetch_outfits.py

      - name: Extract Game Data
        run: |
          python script/fetch_characters.py
          python script/fetch_boards.py
          python script/playerprofile.py
          python script/userstats.py
          python script/collection.py
          python script/challenges.py
          python script/calender.py
          python script/mailbox.py
          python script/achievements.py
          python script/chainoffers.py
          python script/promotions.py
          python script/citytours.py
          python script/products.py

      - name: Update Game Data
        run: |
          python misc/sort_characters.py
          python misc/sort_boards.py
          python misc/sort_profile.py

      - name: Check changes
        id: update
        run: python misc/check.py

      - name: Upload Data
        uses: softprops/action-gh-release@v2
        with:
          body_path: "temp/update.txt"
          tag_name: ${{steps.var.outputs.version}}
          files: temp/upload/*
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
